SQLAlchemy==2.0.36
psycopg2-binary==2.9.10
Faker==33.1.0
fastapi==0.115.6
uvicorn[standard]==0.34.0
strawberry-graphql==0.316.0
grpcio==1.68.1
grpcio-tools==1.68.1
spyne==2.14.0
lxml==5.3.0
pydantic==2.13.4
six==1.17.0
